body::before {
  content: '';
  height: 1000px;
  width: 10px;
  background: navy;
  position: absolute;
  margin: auto;
  right:0;
  left:0;
}

/* "once I get to 768 pixels or greater, target these elements (block by defaults) and change them to inline-block and give them a width of 200px" */
@media(max-width: 768px) {
  body::before{
    /* make it move to the right wall */
  }
}

/* @keyframes fade-in {
  0% {
    opacity:0;
  }
} */

/* .fade-in {
  -webkit-animation: fade-in 6s;
  -moz-animation: fade-in 6s;
  animation: fade-in 6s;
} */

div:not(.container){
  height: 100px;
  width: 30%;
  background: cyan;
  border: black 2px solid;
  position: relative;
  margin: 10px;
}

.event {
  display: block;
  position: relative;
}

.event:nth-child(2n) {
  background: red;
  right: 10%;
  left:auto;
}

#t3 div {
  height: 90%;
  width: 90%;
  top:15px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: cyan;
  border: black 2px solid;
}
