* {
  font-family: sans-serif;
  margin: 5px;
}

body::before {
  content: '';
  height: 1000px;
  width: 10px;
  background: navy;
  position: absolute;
  margin: auto;
  right:0;
  left:0;
}

h3 {
  padding-right: 80px;
  margin: 8px;
}
/* "once I get to 768 pixels or greater, target these elements (block by defaults) and change them to inline-block and give them a width of 200px" */
.event {
  height: 100%;
  width: 45%;
  background: cyan;
  border: black 2px solid;
  margin: 10px;
  position: relative;
  clear: both;
  float: left;
}

.event:nth-child(2n) {
  background: red;
  clear: both;
  float: right;
}

.time {
  position: absolute;
  display: inline-block;
  background: green;
  text-align: center;
  top: 0;
  right: 0;
  padding: 5px;
}

#t3 div:not(.time) {
  left:15%;
  top:15%;
  bottom: 0;
  right: 1px;
  position: absolute;
  background: cyan;
  border: black 2px solid;
}
/* @keyframes fade-in {
  0% {
    opacity:0;
  }
} */

/* .fade-in {
  -webkit-animation: fade-in 6s;
  -moz-animation: fade-in 6s;
  animation: fade-in 6s;
} */
@media(max-width: 768px) {
  body::before {
    position: absolute;
  }
  .event {
    clear: both;
    float: right;
  }
}

p {
  margin: 5px 10px;
}
